.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 120px; /* Отступ для глобального плеера */
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    padding-bottom: 120px; /* Отступ для глобального плеера */
  }
}

